<launch>
  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  
  <arg name="battery"    default="$(optenv TURTLEBOT_BATTERY /sys/class/power_supply/BAT0)"/>  
                                                                
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  
  <arg name="sensor"  default="$(optenv TURTLEBOT_SENSOR hokuyo)"/>
  <arg name="simulation" default="$(optenv TURTLEBOT_SIMULATION false)"/>
  <arg name="tf_prefix" default="" />

  <param name="/use_sim_time" value="$(arg simulation)"/>

  <include file="$(find turtlebot_bringup)/launch/includes/robot2.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
    <arg name="sensor" value="$(arg sensor)" />
  </include>

  <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
    <arg name="base" value="$(arg base)" />
  </include>

  <include file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
    <arg name="battery" value="$(arg battery)" />
  </include>

  <!-- launch the hokuyo sensor -->
  <include file="$(find turtlebot_bringup)/launch/hokuyo/hokuyo.launch">
    <arg name="name" value="hokuyo" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="publish_tf" value="false" /> 
  </include>
</launch>